<!DOCTYPE html>

<%= javascript_include_tag 'application' %><!-- To use the image-->
<%= csrf_meta_tag %>
<%=stylesheet_link_tag :application%> <!--To use CSS-->

<html>
	<%= image_tag("rumors.jpg", :alt => "rumor you love") %>
	<head><title>Rumors</title></head>
	<body>
	<header>RUMORS</header>
	
	<%if flash[:notice]%>
		<div id="notice"><%= flash[:notice]%></div>
	<%end%>
	
	<%= yield%>
	
	</body>
</html>

<%= link_to "Return where the rumors are", rumors_path%> 
